body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-image: url('../Media/photo.jpeg');
  background-size: cover;
}
*,*::before,*::after {
  box-sizing: inherit;
}
#header {
  display:inline-block;
  text-decoration: none;
  flex-direction: column;
}
ul {
  visibility: collapse;
  list-style-type: none;
  padding-left: 0px;
}
button {
   background-color: rgba(0, 0, 0, 0);
   border-color: rgba(0, 0, 0, 0);
   color: aquamarine;
   transition-duration: 1s;
  transition-property: all;
}


button:hover + ul{
  visibility: visible;
}
button:hover{
   transform:rotate(360deg);
}
ul:hover{
  visibility: visible;
  background-color: rgb(139, 139, 196);
}
header a:hover {
  background-color: rgb(135, 7, 7);
  display:flex;
}


